#stream {
    padding: 1em;
}

#stream li.stream {
    background: white;
    list-style: none;
    margin: 0 0 1em 80px;
    min-height: 80px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#stream li.self {
    margin: 0 80px 1em 0;
}

#stream li.stream {
    background-color: #ECF3F7;
}

#stream li.stream, #stream .stream_author img {
    /*
    box-shadow: 3px 3px 4px #999;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
    */
}

#stream .stream_author {
    float: left;
    margin-left: -85px;
}

#stream .self .stream_author {
    float: right;
    margin-right: -85px;
}

#stream .stream_author img {
    height: 80px;
    width: 80px;
}

#stream .stream_content {
    padding: 0.5em;
}

#stream .stream_details {
    cursor: pointer;
}

#stream .date {
    float: right;
    color: #aaa;
}

#stream h2 {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

#stream .stream_details {
    max-height: 100px;
    overflow: hidden;
}

#stream .expand {
    max-height: none ! important;
}